@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-red-200 h-screen w-screen relative;
  }  
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  
}

@layer components {

    .menu-icon {
        @apply relative flex items-center justify-center
        h-12 w-12 mx-auto bg-white shadow-lg
        text-green-500 
        hover:scale-125 hover:shadow-xl 
        rounded-3xl 
        transition-all duration-300 ease-linear cursor-pointer;
    }

    .menu-text {
        @apply absolute w-auto p-2 m-2 min-w-max 
        rounded-md shadow-md
        text-white bg-yellow-200 
        text-base font-bold md:text-lg
        transition-all duration-100 scale-0 origin-top;
    }
    .menu-small-circle-1 {
      @apply absolute w-[10px] h-[10px] rounded-3xl bg-green-600
      transition-all duration-300 ease-linear scale-0;
    }
    .menu-small-circle-2 {
    @apply absolute w-[4px] h-[4px] rounded-3xl bg-red-600
    transition-all duration-300 ease-linear scale-0;
    }
    .menu-small-circle-3 {
     @apply absolute w-[8px] h-[8px] rounded-3xl bg-purple-600
    transition-all duration-300 ease-linear scale-0 ;
    }
    .menu-small-circle-4 {
      @apply absolute w-[8px] h-[8px] rounded-3xl bg-indigo-600
     transition-all duration-300 ease-linear scale-0 ;
     }
     .menu-small-circle-5 {
      @apply absolute w-[8px] h-[8px] rounded-3xl bg-yellow-200
     transition-all duration-300 ease-linear scale-0 ;
     }

}

@layer utilities {
    .animation-delay-1 {
      animation-delay: 1s;
    }
    .animation-delay-2 {
      animation-delay: 2s;
    }
    .animation-delay-3 {
      animation-delay: 3s;
    }
  }