@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9e9d3;
  color: #403D39;
  margin: 0;
}

.title {
  font-family: 'Quicksand';
  font-size: 40px;
  padding: 0 20px;
}

.subtitle {
  position: absolute;
  right: 10px;

  @media only screen and (min-width: 600px) {
    position: inherit;
    padding: 0 20px;

  }
}

.header {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 200px;
  padding-top: 40px;

  @media only screen and (min-width: 600px) {
  height: 345px;
  }
}

.welcome {
  padding: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  font-size: large;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  cursor: pointer;
}

.icon {
  font-size: 30px;
}

.address-link {
  cursor: pointer;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}